// fix bootstrap css
body {
  &.library {background-color: #f2f2f0;}
  &.book {background-color: #EDEDEB;}
  &.story {background-color: #f9f9f9;}
  .modal {
    width: 70%; /* desired relative width */
    left: 15%; /* (100%-width)/2 */
    margin: auto auto auto auto; /* place center */
    &.fade.in {
      top:50px; /* fade in to correct spot */
    }
    form {
      label.control-label {width: 70px;}
      textarea {width:360px;height: 200px;}
    }
  }
}

.thumbnail {
  height: 200px;
  h3, h4 {text-align: center;}
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

img.avatar { width: 50px; height: 50px;}
img.avatar-medium { width: 30px; height: 30px;}
img.avatar-small {width:20px; height: 20px;}